.input-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
}

.input {
  width: 90%;
  height: 100%;
  border: 2px solid white;
  outline: none;
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 10px;
  resize: none;
  background: transparent;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Barlow";
}

.letter {
  display: inline-block;
  opacity: 1;
}

.letter.animate {
  animation: flyAndFade 0.5s linear forwards;
}

@keyframes flyAndFade {
  100% {
    transform: translateX(var(--x)) translateY(var(--y));
    opacity: 0;
  }
}
